:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: show;
    height: auto;
    position: relative;
    width: 100vw;
    margin: 0 auto;
    background: #fffaf6;
    justify-content: center;
    align-items: center; 
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    width: 100vw;
    height: 80px;
    margin: 0 0 0 0;
    padding: 14px 26px 14px 37px;
    z-index: 26;
}

.group {
    flex-shrink: 0;
    position: relative;
    width: 252px;
    height: 55.5px;
    z-index: 27;
}

.mask-group {
    position: absolute;
    width: 56px;
    height: 55.5px;
    top: 0;
    left: 0;
    background: url(/static/images/11f61815-9304-4824-81f0-920f2bc7bfc7.png) no-repeat center;
    background-size: cover;
    z-index: 29;
}

.menu-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 432px;
    z-index: 30;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 96px;
    padding: 16px 16px 16px 16px;
    z-index: 31;
}

.product-service {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}

.menu-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 112px;
    padding: 16px 16px 16px 16px;
    z-index: 33;
}

.founder-team {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
}

.menu-item-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 64px;
    padding: 16px 16px 16px 16px;
    z-index: 35;
}

.activity {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}

.menu-item-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 96px;
    padding: 16px 16px 16px 16px;
    z-index: 37;
}

.contact-info {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
}

.menu-item-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 64px;
    padding: 16px 16px 16px 16px;
    z-index: 39;
}

.login {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
}

.hero-frame {
    position: relative;
    width: 100vw;
    height: 100vh; /* Set to 100vh for full viewport height */
    background: #f7f2ed; /* Your desired background color or image */
    z-index: 25;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 42px;
    top: 6.75px;
    left: 62px;
    font-family: Roboto Condensed, var(--default-font-family);
    font-size: 38px;
    font-weight: 700;
    line-height: 41.8px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(90deg, #fdba66, #fd6d71);
    z-index: 28;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80%; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
    margin: 150px 0 0 0;
    box-sizing: border-box;
    z-index: 25;
}

.title-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 943px;
    height: 134px;
    margin: auto;
    color: #f2994a;
    font-family: Roboto, var(--default-font-family);
    font-size: 128px;
    font-weight: 800;
    line-height: 134px;
    text-align: center;
    white-space: nowrap;
    z-index: 25;
}

.grad {
    position: absolute;
    width: auto;
    height: 25.77%;
    top: 0;
    left: 50%;
    background: url(/static/images/ec0c40bfc9f2ee1496798ce80922ede2401bb17a.png) no-repeat center;
    background-size: cover;
    transform: translate(-50%, 0);
    z-index: 20;
}

.schools-frame {
    position: relative;
    width: 100vw;
    height: 30vw;
    margin: 400px 0 0 0;
    background: #f7f2ed;
    z-index: 17;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
}

.school-rect {
    position: absolute;
    width: 100%;
    height: 100.28%;
    top: 0;
    left: 0;
    background: #fffef9;
    z-index: 18;
}

.hive {
    position: absolute;
    width: 27.81%;
    height: 100.28%;
    top: 0;
    left: -6.09%;
    background: url(/static/images/e4214c8a-4c6a-4c48-8caf-252cf720b681.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
}

.hive-6 {
    position: absolute;
    width: 28.13%;
    height: 100.28%;
    top: 0;
    left: 78.2%;
    background: url(/static/images/1f249378-2ad0-43e6-bcbc-e792d1341fb3.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 20;
}

.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 442px;
    height: 8.06%;
    top: 18.06%;
    left: calc(50% - 221px);
    font-family: Roboto Flex, var(--default-font-family);
    font-size: 22px;
    font-weight: 800;
    line-height: 23.2px;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(270deg, #d07f66, #f56580);
    z-index: 22;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group-7 {
    position: absolute;
    width: 44.38%;
    height: 46.39%;
    background: url(/static/images/f37e24fc-6710-401f-be5c-a330da04aee0.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
}

.flex-row-f {
    position: relative;
    width: 1156.092px;
    height: 1387.57px;
    margin: -1px 0 0 0;
    z-index: 16;
}

.motto-frame {
    position: absolute;
    width: 1024px;
    height: 770px;
    top: 0;
    left: 0;
    background: #f7f2ed;
}

.flex-column-bff {
    position: absolute;
    width: 37.5%;
    height: 87.37%;
    top: 0;
    left: 6.25%;
    z-index: 8;
}

.hands {
    position: relative;
    width: 384px;
    height: 336px;
    margin: 0 0 0 0;
    background: url(/static/images/dfd5df2df252cf2171c93b677fe5269bac07dc4a.png) no-repeat center;
    background-size: cover;
    z-index: 8;
}

.coffee {
    position: relative;
    width: 384px;
    height: 338.88px;
    margin: -2.133px 0 0 0;
    background: url(/static/images/e727fd92d035b5ea10589b2690b7aaedd79668f6.png) no-repeat center;
    background-size: cover;
    z-index: 7;
}

.flex-column-ad {
    position: absolute;
    top: 138.359px;
    right: 0;
    bottom: 0px;
    left: 448px;
    font-size: 0px;
    z-index: 6;
}

.text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100.8px;
    height: 22.212px;
    margin: 70.526px 0 0 242px;
    color: #7d7b7b;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18.153px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
}

.text-a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 392px;
    height: 83px;
    margin: 112.904px 0 0 100px;
    color: #4c4c4c;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    z-index: 6;
}

.rectangle {
    position: relative;
    width: 576px;
    height: 97.253px;
    margin: 245.747px 0 0 0;
    background: #a9a2a2;
    z-index: 1;
}

.our-motto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 320px;
    height: 11.17%;
    top: 0;
    left: calc(50% - 155px);
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(90deg, #fbad67, #f2c94c);
    opacity: 0.5;
    z-index: 4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 160px;
    height: 7.14%;
    top: 2.06%;
    left: calc(50% - 76px);
    color: #646464;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hive-8 {
    position: absolute;
    width: 521.092px;
    height: 702.57px;
    top: 50%;
    left: 50%;
    background: url(/static/images/05d76816-5c30-4b66-886e-5a8b371c53c2.png) no-repeat center;
    background-size: cover;
    transform: translate(10.93%, -1.25%);
    z-index: 16;
}

.advantages {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 345px;
    height: 5.07%;
    top: 65.22%;
    left: calc(50% - 238.05px);
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(90deg, #fbad67, #f2c94c);
    opacity: 0.5;
    z-index: 14;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-advantage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 160px;
    height: 3.24%;
    top: 66.16%;
    left: calc(50% - 146.05px);
    color: #646464;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.eternal-learning {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 131px;
    height: 1.58%;
    top: 70.29%;
    left: calc(50% - 131.05px);
    color: #7d7b7b;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18.153px;
    text-align: center;
    white-space: nowrap;
    z-index: 13;
}

.new-generation-education {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 420px;
    height: 156px;
    top: calc(50% - -427.22px);
    left: 130px;
    color: #4c4c4c;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    letter-spacing: 0.16px;
    z-index: 11;
}

.frame {
    position: relative;
    width: auto;
    height: 295px;
    margin: 150.43px 0 0 0;
    background: #2b2828;
    z-index: 41;
    overflow: show;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Additional styling for form elements */
input[type=email],
input[type=password] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


.flash-messages .alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Example Media Query for larger screens */
@media (min-width: 768px) {
    .grad {
        width: 100%; /* Adjust width for larger screens */
        /* Adjust height as per your design requirements */
    }
}
