:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #fffaf6;
    justify-content: center;
    align-items: center; 
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.hero-frame {
    position: relative;
    width: 100%;
    height: 95vh;
    background: #f7f2ed;
    z-index: 25;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 14px 26px;
    z-index: 30;
}

.group {
    flex-shrink: 0;
    position: relative;
    width: 252px;
    height: 55.5px;
    z-index: 27;
}

.mask-group {
    position: absolute;
    width: 56px;
    height: 55.5px;
    top: 0;
    left: 0;
    background: url(/static/images/11f61815-9304-4824-81f0-920f2bc7bfc7.png) no-repeat center;
    background-size: cover;
    z-index: 29;
}

.menu-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 432px;
    z-index: 30;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 96px;
    padding: 16px 16px 16px 16px;
    z-index: 31;
}

.product-service {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}

.menu-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 112px;
    padding: 16px 16px 16px 16px;
    z-index: 33;
}

.founder-team {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
}

.menu-item-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 64px;
    padding: 16px 16px 16px 16px;
    z-index: 35;
}

.activity {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}

.menu-item-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 96px;
    padding: 16px 16px 16px 16px;
    z-index: 37;
}

.contact-info {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
}

.menu-item-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 64px;
    padding: 16px 16px 16px 16px;
    z-index: 39;
}

.login {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #e7e2e2;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
}

.title {
    position: absolute;
    height: 42px;
    top: 6.75px;
    left: 62px;
    font-family: 'Roboto Condensed', var(--default-font-family);
    font-size: 38px;
    font-weight: 700;
    line-height: 41.8px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(90deg, #fdba66, #fd6d71);
    z-index: 28;
    color: transparent; /* Standard property for the text color */
    background-clip: text; /* Standard property for the background clip */
    -webkit-background-clip: text; /* Webkit specific property for the background clip */
    -webkit-text-fill-color: transparent; /* Webkit specific property for the text color */
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 26;
}

.title-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 943px;
    height: 134px;
    margin: auto;
    color: #f2994a;
    font-family: Roboto, var(--default-font-family);
    font-size: 128px;
    font-weight: 800;
    line-height: 134px;
    text-align: center;
    white-space: nowrap;
    z-index: 27;
}

.grad {
    position: absolute;
    width: 100%; /* Full width */
    height: 100%; /* Increase the height as needed */
    top: 50%; /* Adjust the top position to push it up */
    left: 50%;
    background: url(/static/images/ec0c40bfc9f2ee1496798ce80922ede2401bb17a.png) no-repeat center;
    background-size: cover;
    transform: translate(-50%, -50%); /* Center the image */
    z-index: 20; /* Below other content but above the background */
}

.schools-frame {
    position: relative;
    width: 100%; /* Changed from 100vw to 100% */
    height: 15vw; /* Adjusted height */
    z-index: 17;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    box-sizing: border-box; /* Include padding and borders within the width and height */
}

/* .schools-frame::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(270deg, #d07f66, #f56580);
    border-radius: inherit;
    padding: 10px;
} */

.school-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 18;
}

.school-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: auto;
    height: auto;
    top: 12%;
    font-family: Roboto Flex, var(--default-font-family);
    font-weight: 800;
    line-height: 23.2px;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(270deg, #d07f66, #f56580);
    z-index: 22;
    color: transparent; /* Standard property for the text color */
    background-clip: text; /* Standard property for the background clip */
    -webkit-background-clip: text; /* Webkit specific property for the background clip */
    -webkit-text-fill-color: transparent; /* Webkit specific property for the text color */
}


.school-group {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%; /* Width of the container */
    height: 55%; /* Height of the container */
    background: url(/static/images/f37e24fc-6710-401f-be5c-a330da04aee0.png) no-repeat center;
    background-size: 60% auto; /* Adjusts the image to fit within the container without distortion */
    z-index: 21;
}

.hive,
.hive-6 {
    position: absolute;
    top: 50%;
    width: 28%;
    height: 10vw;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(1);
    z-index: 19;
}

/* Specific styles for .hive */
.hive {
    left: calc(50% - 42%);
    background: url(/static/images/e4214c8a-4c6a-4c48-8caf-252cf720b681.png) no-repeat center;
}

/* Specific styles for .hive-6 */
.hive-6 {
    left: calc(50% + 42%);
    background: url(/static/images/1f249378-2ad0-43e6-bcbc-e792d1341fb3.png) no-repeat center;
}


.flex-row-f {
    position: relative;
    width: auto;
    height: auto;
    margin: -1px 0 0 0;
    z-index: 16;
}

.motto-frame {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    width: 100%;
    height: 100vh;
    background: #f7f2ed;
    position: relative; /* Establish new positioning context */
    padding-left: 6.25%;
}

.flex-column-bff {
    width: 37.5%;
    height: 90vh; /* The container takes up 90% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* This will provide space between the images */
}

.hands, .coffee {
    height: 45vh; /* Each takes up 45% of the viewport height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hands {
    background-image: url('/static/images/dfd5df2df252cf2171c93b677fe5269bac07dc4a.png');
    z-index: 8;
}

.coffee {
    background-image: url('/static/images/e727fd92d035b5ea10589b2690b7aaedd79668f6.png');
    z-index: 7;
}

.flex-column-ad {
    flex: 1; /* Take up the other half of the space in the flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; /* Start at the top of the viewport */
    right: 0;
    bottom: 0; /* Extend to the bottom of the viewport */
    left: 41.4%; /* Start at the middle of the screen */
    width: 62.5%; /* Take up half of the screen width */
    height: 100vh; /* Full viewport height */
    z-index: 6;
}

.rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; /* 60% of the viewport width */
    height: 10vh; /* 10% of the viewport height */
    background: #a9a2a2;
    z-index: 1;
}

.our-motto {
    position: absolute;
    width: 320px;
    height: 60.511px; /* Set a specific height */
    top: 25vh; /* Adjusted to be above the middle of the screen */
    left: 50%;
    transform: translateX(-50%);
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: center;
    background: linear-gradient(90deg, #fbad67, #f2c94c);
    opacity: 0.5;
    z-index: 4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-c {
    position: absolute;
    width: 160px;
    height: 7.14%;
    top: 25vh - 38.727px; /* Adjusted to sit above our-motto */
    left: 50%;
    transform: translateX(-50%) translateY(-100%); /* Adjust vertically above our-motto */
    color: #646464;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.motto-sub {
    position: absolute;
    top: calc(25vh + 60.511px + 10px); /* Adjusted to sit below our-motto */
    left: 50%;
    transform: translateX(-50%);
    color: #7d7b7b;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18.153px;
    text-align: center;
    z-index: 3;
}


.text-c {
    position: absolute;
    width: 160px;
    top: calc(25vh); /* Half the line-height to overlap on our-motto */
    left: 50%;
    transform: translateX(-50%);
    color: #646464;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 5; /* Ensure it's above our-motto */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}



.advantage-frame {
    display: flex;
    flex-direction: column; /* Adjust if you want vertical layout */
    width: 100%; /* Full width of the parent container */
    height: 100vh; /* Full height of the viewport */
    background: #f7f2ed;
    align-items: flex-start;
    padding-left: 6.25%;
}

.hive-8 {
    position: absolute;
    width: 521.092px;
    height: 702.57px;
    top: 50%;
    left: 50%;
    background: url(/static/images/05d76816-5c30-4b66-886e-5a8b371c53c2.png) no-repeat center;
    background-size: cover;
    transform: translate(10.93%, -1.25%);
    z-index: 16;
}

.advantages {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 345px;
    height: 5.07%;
    top: 65.22%;
    left: calc(50% - 238.05px);
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(90deg, #fbad67, #f2c94c);
    opacity: 0.5;
    z-index: 14;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-advantage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 160px;
    height: 3.24%;
    top: 66.16%;
    left: calc(50% - 146.05px);
    color: #646464;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.eternal-learning {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 131px;
    height: 1.58%;
    top: 70.29%;
    left: calc(50% - 131.05px);
    color: #7d7b7b;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18.153px;
    text-align: center;
    white-space: nowrap;
    z-index: 13;
}

.new-generation-education {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 420px;
    height: 156px;
    top: calc(50% - -427.22px);
    left: 130px;
    color: #4c4c4c;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    letter-spacing: 0.16px;
    z-index: 11;
}

.frame {
    position: relative;
    width: auto;
    height: 295px;
    margin: 150.43px 0 0 0;
    background: #2b2828;
    z-index: 41;
    overflow: show;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Additional styling for form elements */
input[type=email],
input[type=password] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


.flash-messages .alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

@media (max-width: 1400px) {
    .school-title {
        font-size: 18px; /* Smaller font size */
        width: auto; /* Width can be auto to adjust to content */
    }
}

@media (max-width: 1024px) {
    .school-title {
        font-size: 16px; /* Smaller font size */
        width: auto; /* Width can be auto to adjust to content */
    }
}

/* You can add more media queries for other breakpoints */
@media (max-width: 1px) {
    .school-title {
        font-size: 4px; /* Even smaller font size for very small screens */
    }
}